.divH1Login{
    text-align: center;
    position:relative;
    top:20vh;
}

.divInputs{
    text-align: center;
    position:relative;
    top:27vh;
}

.inputUsuarioTelaLogin{
    position:relative;
    font-size:calc(1.1vw + 1.1vh);
    top:0vh;
    width:17vw;
    height:3.5vh;
}

.inputSenhaTelaLogin{
    position:relative;
    font-size:calc(1.1vw + 1.1vh);
    top:5vh;
    width:17vw;
    height:3.5vh;
}

.buttonTelaLogin{
    position:relative;
    top:10vh;
    width:12vw;
    height:4vh;
    font-size: calc(1vw + 1vh);
}